body {
    display: grid;
    background-color: #5cdb95;
}
#button-div {

    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    /*width: 15.5%;
    height: 16em;*/
    margin: 0 auto;
    
    background-color: #05386b;
    grid-gap: 3%;
    justify-content: center;
    margin-bottom: 7%;
    
}
button {
    height: 3.1em;
    width: 3.1em;
    border-radius: 12%;
    font-size: 1.2em;
    font-weight: bold;
    background-color: darkgray;
    color:white;
}
button:hover{
    background-color:gainsboro;
}
#display {
    height: 6em;
    width: 16.2em;
    border: 1px solid black;
    margin: auto;
    background-color: gainsboro;
    /*margin-bottom: 1em;
    margin-top: 7em;*/
    
}
#calculator {
    display: grid;
    background-color: #05386b;
    margin: auto;
    width:18em;
    height: 30em;
    border-radius: 2%;
    justify-content: center;
    margin-top: 4.5em;
    transform: scale(1.1);
}
.red-buttons:hover{
    background-color:lightsalmon;
}
.red-buttons{
    background-color: salmon;
}
button:focus {outline:0;}
