body {
    display: grid;
    background-color: lightblue;
}
#button-div {

    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    width: 15.5%;
    height: 25em;
    margin: 0 auto;
    background-color: grey;
    
}
button {
    height: 5em;
    width: 5em;
    border-radius: 12%;
}
#display {
    height: 4em;
    width: 18em;
    border: 1px solid black;
    margin: auto;
    background-color: gainsboro;
    /*margin-bottom: 1em;
    margin-top: 7em;*/
    
}
#calculator {
    display: grid;
    background-color: grey;
    margin: auto;
    width:32em;
    
}
